@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
  .chart-big
    height: auto
    #chart
      height: 100vh!important
// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)
  .parent
    .card-row1, .card-row2, .chart1, .chart2, .chart-big
      width: 80%
      margin: 20px auto

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)



// ≤1200px
+media-breakpoint-up(xl)
