@import "vars"
@import "fonts"
@import "libs"

.parent
  padding: 10px
  .card-row1
    width: 28%
    .card-body
      padding: 0 0 20px 0
  .card-row2
    width: 28%
  .chart1, .chart2
    width: 64%
  .chart1, .chart2, .chart-big
    border: 1px solid #E5E5E5
    box-sizing: border-box
    border-radius: 3px
  .chart-big
    height: 100%
    #chart
      height: 88%!important
  .textblue
    color: #1E87F0!important
  .textred
    color: #F0506E!important
  .card, .small-box
    border: 1px solid #cccccc
    box-sizing: border-box
    border-radius: 3px
  .card-title, .card-header, .card-text, .small-box
    font-family: Open Sans
  .card-header, .card-text
    text-align: center
  .card-header, .card-title
    color: #222222
  .card-title, .card-text, .small-box
    line-height: 22px
  .card-title
    font-weight: 600
    display: flex
    justify-content: space-between
    padding: 10px 5px 10px 10px
  .card-header
    font-size: 12px
    background: #E5E5E5
    border: 1px solid #CCCCCC
    box-sizing: border-box
    border-radius: 3px
    line-height: 16px
    &--big
      font-size: 14px
      font-weight: 600
      line-height: 19px
      border: none
  .card-text
    color: #666666
    font-weight: 600
  .small-box
    border: 1px solid #999999
    padding: 5px
    color: #000000
  .table-custom
    border: 1px solid #E5E5E5
    box-sizing: border-box
    border-radius: 3px
  .table-title
    text-align: center
    font-family: Open Sans
    font-weight: 600
    font-size: 14px
    line-height: 19px
    color: #222222
  .table1, .table2, .table3
    font-family: Roboto
    font-size: 12px
    line-height: 14px
    color: #222222
    border: 1px solid #CCCCCC
    box-sizing: border-box
    border-radius: 3px
  .table1
    padding: 6px 0 6px 11px
    width: 43%
  .table2
    padding: 6px 17px
    width: 15%
    text-align: center
  .table3
    padding: 6px 10px 6px 5px
    width: 29%
    text-align: center


@import "media" // Always at the end
